.characters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.characters li {
  position: relative;
  text-align: center;
  flex-grow: 1;
  padding: 10px;
}

.characters img {
  max-width: 100%;
}

.characters h2 {

}
