

.characters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.characters li {
  position: relative;
  text-align: center;
  flex-grow: 1;
  padding: 10px;
}

.characters img {
  border-radius: 50%;
  max-width: 100%;
}

.characters h2 {

}



.dragon-food {
  list-style: none;
  display: flex;
}
.dragon-food li {
  flex-grow: 1;
  text-align: center;
}
.dragon-food li img {
  max-width: 100%;
}

.dragon-food li.clicked {
  animation: 0.5s ease-out throw forwards;
}

@keyframes throw {
  0% { transform: unset; }
  100% { transform: rotate3d(9, 2, -7, 33deg) translate(3em, -33em) }
}
